html {
  height: 100%;
}

body {
    background-color: #F6F6F6;
    height: 100%;
    margin: 0;
    font-family: "Lucida", Lucida, monospace;
}

h3 {
	font-family: "Lucida", Lucida, monospace;
	text-align: left;
}

.text {
	font-family: "Lucida", Lucida, monospace;
	font-size: 11px;
	text-align: center;
}

h4 {
	font-family: "Lucida", Lucida, monospace;
  font-size: 20px;
}


.button {
	text-align: center;
}

.button button {
    border-color: rgb(18, 156, 75);
    color: rgb(18, 156, 75);
    cursor: pointer;
    padding: 10px 30px;
}

.button button:hover {
  border-color: rgb(140, 18, 156);
  background-color: rgb(140, 18, 156);
  color: rgb(255, 255, 255);
  padding: 10px 30px;
}

.container {
	text-align: center;
}

.title {
  font: 700 16px 'Nunito', sans-serif;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  max-width: 600px;
  width: 100%;
  margin: 4em auto 0;
  overflow: hidden;
}

.title__card {
  background: #74BDCB;
  color: #fff;
  padding: 24px 10px;
  grid-column: span 5;
  text-align: center;
  font: 24px/0.9 "Amatic SC", cursive;
}
.title__card span {
  display: none;
}
.title__card span:nth-child(1) {
  display: block;
}
@media screen and (max-width: 600px) {
  .title__card span:nth-child(1) {
    display: none;
  }
  .title__card span:nth-child(2) {
    display: block;
  }
}
.bingo-card {
  background: #FFA384;
  padding: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(5, 110px);
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
}
.bingo-card__item {
  background: #EFE7BC;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.35;
  user-select: none;
}
.bingo-card__item:after {
  content: "-";
  position: absolute;
  top: -28%;
  left: -30%;
  color: #3C1C5B;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  height: 0;
  pointer-events: none;
  font: 280px/0.5 "Caveat Brush", cursive;
  text-align: center;
  transform: rotate(-45deg);
}
.bingo-card__item.active:after {
  height: 100%;
  opacity: 0.7;
}

.bingo-card__item {
  padding: 15px;
}
.bingo-card__item.active .bingo-card__checkbox:before {
  content: "\2714";
  position: absolute;
  color: black;
  left: 0;
  top: -19px;
  color: #fdb90b;
  font: 30px "Caveat Brush", cursive;
}
.bingo-card__checkbox {
  display: none;
}

.buttonholder{
  text-align:center;
}
.clear-button {
  margin: 1em auto 0;
  font: 700 16px 'Nunito', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border: 2px dotted;
  color: #fdb90b;
  padding: 8px 10px;

}
.clear-button:hover {
  color: #f2ae00;

}

